<!DOCTYPE html>
<html>
<head>
  <title>FitBit Blog (on Rails)</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
		<header>
			<div id="masthead">
				<h1>FitBit Blog</h1>
				(On Rails)
			</div>
			<nav>
				<ul>
					<li class="selected"><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Dashboard', dashboard_path %></li>
					<li><%= link_to 'About', about_path %></li>
				</ul>
			</nav>
			<div id="cubes">
				<div class="cube">
				walk
				</div><!--
				--><div class="cube">
				run
				</div><!--
				--><div class="cube">
				work
				</div><!--
				--><div class="cube">
				play
				</div>
			</div>
		</header>
		<div id="content">
			<div id="articles">

				<%= yield %>

			</div>
			<aside>
				<div id="loggedIn">
					<% if user_signed_in? %>
					  <p>Hello, <%= current_user.name %>.</p>
					  <p><% if flash[:notice] %><p><%= flash[:notice] %><% else %><%= link_to 'Create a new post?', new_post_path %><% end %></p>
					  <p><%= link_to 'Sign out', session_path(session[:user_id]), method: :delete %></p>
					<% else %>
						<%= link_to 'Sign in', new_session_path %>
					<% end %>
				</div>

				<h3>Tags</h3>
				<ul>
					<li><a href="#">Tag 1</a></li>
					<li><a href="#">Tag 2</a></li>
					<li><a href="#">Tag 3</a></li>
				</ul>

				<h3>Recent Posts</h3>
				<ul>
					<li><a href="#">July</a></li>
					<li><a href="#">August</a></li>
					<li><a href="#">September</a></li>
				</ul>
			</aside>
		</div>
		<footer>
			&copy 2013 Cylinder Studio
		</footer>
	</div>

</body>
</html>
