<% @posts.each do |post| %>
	<article>
		<h2><a href="<%= post_path(post.id) %>"><%= post.title %></a></h2>
		<div class="timestamp">
			<time datetime="<%= post.post_date %>"><%= Date::MONTHNAMES[post.post_date.month] %> <%= post.post_date.day %>, <%= post.post_date.year %></time>
		</div>
		<p><%= post.body %></p>
		<% if user_signed_in? %>
			<%= link_to "Edit post", edit_post_path(post) %> |
			<%= link_to "Delete post", post_path(post), method: :delete, data: {confirm: 'Sure about that?'} %>
		<% end %>
	</article>
<% end %>		