<article>
	<h2><%= @post.title %></h2>
	<div class="timestamp">
		<time datetime="<%= @post.post_date %>"><%= Date::MONTHNAMES[@post.post_date.month] %> <%= @post.post_date.day %>, <%= @post.post_date.year %></time>
	</div>
	<%= @post.body %>
</article>

<p class="linkText"><%= link_to 'Back to Posts >', posts_path %></p>

<% if user_signed_in? %>
	<p>Enter comment:<br>
	<%= form_for([@post, @post.comments.build]) do |f| %>
		<%= f.text_area :text %><br>
		<%= f.submit %>
	<% end %></p>
<% end %>

<div id="comments">
	<% unless @comments.empty? %>
		<h4>Comments</h4>
		<% @comments.each do |comment| %>
			<p><%= User.find_by(comment.user_id).name %> said:<br>
			<%= comment.text %>
			<% if user_signed_in? && current_user.is_admin %><br> 
				<span class="delete"><%= link_to 'Delete comment', [comment.post, comment], method: :delete, data: {confirm: 'Sure about that?' } %></span>
			<% end %></p>
		<% end %>
	<% end %>
</div>